aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.2
aiosmtplib==3.0.1
alembic==1.13.1
asgiref==3.8.1
attrs==25.3.0
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.7
dnspython==2.7.0
email-validator==2.1.0.post1
Flask==3.0.2
flask-cors==5.0.1
Flask-Mail==0.10.0
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
frozenlist==1.5.0
gunicorn==21.2.0
idna==3.10
iniconfig==2.1.0
itsdangerous==2.1.2
Jinja2==3.1.3
Mako==1.3.9
MarkupSafe==3.0.2
multidict==6.2.0
packaging==24.2
pillow==10.2.0
pluggy==1.5.0
propcache==0.3.0
psycopg2-binary==2.9.9
PyJWT==2.8.0
pytest==7.4.4
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2025.1
requests==2.31.0
setuptools @ file:///opt/homebrew/Cellar/python%403.9/3.9.21/Frameworks/Python.framework/Versions/3.9/lib/python3.9/ensurepip/_bundled/setuptools-75.6.0-py3-none-any.whl#sha256=6b31d7b50f3eb806364ded03429f201fae30f50c4e294c0d4c04fdf7aae519b2
six==1.17.0
SQLAlchemy==2.0.27
typing_extensions==4.12.2
urllib3==2.3.0
Werkzeug==3.0.2
wheel @ file:///opt/homebrew/Cellar/python%403.9/3.9.21/libexec/wheel-0.45.1-py3-none-any.whl#sha256=c79c3a27897936019175dfaedcf112adcc0a3544a5c1bda72253392d9daa4fba
WTForms==3.1.2
yarl==1.18.3
